.description {
    padding: 101px 0 91px;
    background-color: $secondary-text-color;
    position: relative;
    z-index: 0;
    .wrapper {
        display: flex;
        gap: 44px;
        .description-image {
            position: relative;
            z-index: 2;
            max-width: 678px;
        }
        .description-main {
            display: flex;
            flex-direction: column;
            .decriptoin__title {
                @include title-style($title-color, 2rem);
            }
            .description__paragraph {
                @include paragraph-style($secondary-color);
                margin-top: 50px;
                margin-bottom: 40px;
            }
            .description__text {
                line-height: 120%;
                color: $secondary-color;
                margin-bottom: 25px;
            }
            .description__list {
                display: flex;
                gap: 10px;
                .description__list--item {
                    line-height: 120%;
                    color: $secondary-color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    &:not(:last-child) {
                        border-right: 1px dashed $secondary-color;
                        height: 250px;
                        padding-right: 10px;
                    }
                    &::before {
                        content: "";
                        margin-bottom: 20px;
                        width: 100px;
                        height: 100px;
                    }
                    &:first-of-type::before {
                        content: "";
                        background-image: url('../img/wax.png');
                    }
                    &:nth-of-type(2)::before {
                        content: "";
                        background-image: url('../img/perfume.png');
                    }
                    &:nth-of-type(3)::before {
                        content: "";
                        background-image: url('../img/wood.png');
                    }
                    &:nth-of-type(4)::before {
                        content: "";
                        background-image: url('../img/match-box.png');
                    }
                    &:last-of-type::before {
                        content: "";
                        background-image: url('../img/gift-wrapping.png');
                    }
                }
            }
            .description__paragraph--bottom {
                @include paragraph-style($secondary-text-color);
                background-color: $secondary-color;
                margin: 0;
                width: 74%;
                height: 355px;
                padding: 123px 191px 123px 425px;
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
            }
        }
    }
}