.header {
    padding-top: 30px;
    position: absolute;
    background-color: transparent;
    z-index: 2;
    margin-left: 155px;
    width: 56%;
    @media screen and (max-width: 516px) {
        margin-left: 70px;
    }
    .menu {
        display: flex;
        align-content: center;
        margin-left: 48px;
        &__list {
            display: flex;
            gap: 70px;
            flex-wrap: wrap;
            max-width: 699px;
            align-items: center;
            position: relative;
            text-transform: uppercase;
            @media(max-width: 1887px) {
                flex-direction: column;
                gap: 10px;
                justify-content: flex-end;
            }
            &-link {
                color: $title-color;
                font-size: $small-font;
            }
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        color: $title-color;
        font-size: $small-font;
        text-transform: none;
        line-height: 120%;
        @media(max-width: 720px) {
            display: none;
        }
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: end;
            background-image: url("../icons/instagram.svg");
            background-repeat: no-repeat;
            position: relative;
            right: -10px;
            top: 11px;
        }
    }
}

.wrapper {
    display: flex;
    gap: 51px;
    @media(max-width: 1210px) {
        gap: 20px;
    }
    @media screen and (max-width: 1111px) {
        gap: 60px;
    }
    @media screen and (max-width: 526px) {
        gap: 40px;
    }
}