@mixin title-style($title-change-color, $title-change-font) {
    font-weight: 400;
    line-height: 120%;
    font-family: "Tenor Sans", sans-serif;
    text-transform: uppercase;
    color: $title-change-color;
    font-size: $title-change-font;
}

@mixin paragraph-style($paragraph-change-color) {
    font-size: $main-font;
    line-height: 120%;
    font-weight: 600;
    color: $paragraph-change-color;
    @media screen and (max-width: 1812px) {
        font-size: $text-font;
    }
    @media screen and (max-width: 1280px) {
        font-size: .7rem;
    }
    @media screen and (max-width: 1090px) {
        font-size: $small-font;
    }
}

@mixin button-style {
    width: 439px;
    height: 270px;
    background-size: cover;
    display: inline-block;
    border: none;
    outline: none;
    background-color: inherit;
    transition-duration: .5s;
    @media screen and (max-width: 1545px) {
        width: 373px;
        height: 230px;
    }
    @media screen and (max-width: 1370px) {
        width: 351px;
        height: 216px;
    }
    @media screen and (max-width: 830px) {
        width: 281px;
        height: 173px;
    }
}