$primary-color: #F2E9E1;
$secondary-color: #A7897E;
$additional-color: #FFF;
$title-color: #856F67;
$secondary-text-color: #F2E9E1;
$third-text-color: #EBE2DB;
$candles-title-color: #947A71;
$small-font: 15px;
$additional-font: 20px;
$text-font: 25px;
$main-font: 30px;