@charset "UTF-8";
html {
  font-size: 25px;
  font-weight: 500;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  /*шрифты разные: для body общий, а для title поставить Tenor Sans*/
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.wrapper {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: px) {
  .wrapper {
    width: 100%;
    padding-right: px;
    padding-left: px;
  }
}

.header {
  padding-top: 30px;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  margin-left: 155px;
  width: 56%;
}
@media screen and (max-width: 516px) {
  .header {
    margin-left: 70px;
  }
}
.header .menu {
  display: flex;
  align-content: center;
  margin-left: 48px;
}
.header .menu__list {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  max-width: 699px;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1887px) {
  .header .menu__list {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
  }
}
.header .menu__list-link {
  color: #856F67;
  font-size: 15px;
}
.header__btn {
  display: flex;
  align-items: center;
  color: #856F67;
  font-size: 15px;
  text-transform: none;
  line-height: 120%;
}
@media (max-width: 720px) {
  .header__btn {
    display: none;
  }
}
.header__btn::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: end;
  background-image: url("../icons/instagram.svg");
  background-repeat: no-repeat;
  position: relative;
  right: -10px;
  top: 11px;
}

.wrapper {
  display: flex;
  gap: 51px;
}
@media (max-width: 1210px) {
  .wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 1111px) {
  .wrapper {
    gap: 60px;
  }
}
@media screen and (max-width: 526px) {
  .wrapper {
    gap: 40px;
  }
}

.footer {
  padding: 41px 100px;
  background-color: #A7897E;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 20px 45px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 15px 25px;
  }
}
.footer .wrapper {
  display: flex;
  max-width: 1178px;
  justify-content: space-between;
  color: #F2E9E1;
  margin: 0 auto;
}
@media screen and (max-width: 847px) {
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .footer .wrapper .logo {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 480px) {
  .footer .wrapper .logo {
    transform: scale(0.5);
  }
}
.footer .wrapper .link {
  align-self: center;
  font-size: 30px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .footer .wrapper .link {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .wrapper .link {
    transform: scale(0.8);
  }
}
.footer .wrapper .link i {
  background-color: #F2E9E1;
  color: #A7897E;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  position: relative;
  right: 20px;
  top: 15px;
}
.footer .wrapper .link i::before {
  position: absolute;
  top: 20%;
  right: 23%;
}
.footer .wrapper .qr {
  max-width: 217px;
}
@media screen and (max-width: 1024px) {
  .footer .wrapper .qr {
    transform: scale(0.7);
  }
}

.main {
  padding: 0 130px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #F2E9E1 56%, #A7897E 44%);
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1080px;
  z-index: 1;
}
@media screen and (max-width: 1350px) {
  .main {
    padding: 0 70px;
  }
}
@media screen and (max-width: 1111px) {
  .main {
    background: linear-gradient(to right, #F2E9E1 80%, #A7897E 20%);
  }
}
@media screen and (max-width: 960px) {
  .main {
    background: #F2E9E1;
    padding: 0 50px;
  }
}
.main::after {
  content: url(../img/main-star-bottom.svg);
  max-width: 201px;
  position: absolute;
  top: 944px;
  right: 5px;
}
@media screen and (max-width: 1780px) {
  .main::after {
    transform: scale(0.8);
    top: 890px;
  }
}
@media screen and (max-width: 1535px) {
  .main::after {
    display: none;
  }
}
.main-description {
  margin-top: 305px;
  text-align: left;
}
@media screen and (max-width: 1370px) {
  .main-description {
    margin-top: 240px;
  }
}
@media screen and (max-width: 1040px) {
  .main-description {
    width: 100%;
  }
}
.main-description__title {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #856F67;
  font-size: 2.88rem;
  max-width: 677px;
  margin-left: 0;
}
@media screen and (max-width: 1919px) {
  .main-description__title {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1545px) {
  .main-description__title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1040px) {
  .main-description__title {
    max-width: 500px;
  }
}
@media screen and (max-width: 477px) {
  .main-description__title {
    font-size: 1.1rem;
  }
}
.main-description__paragraph {
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  color: #A7897E;
  max-width: 666px;
  margin-top: 70px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1812px) {
  .main-description__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .main-description__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1090px) {
  .main-description__paragraph {
    font-size: 15px;
  }
}
@media screen and (max-width: 1445px) {
  .main-description__paragraph {
    font-size: 20px;
  }
}
@media screen and (max-width: 1090px) {
  .main-description__paragraph {
    max-width: 290px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1040px) {
  .main-description__paragraph {
    max-width: 700px;
  }
}
@media screen and (max-width: 516px) {
  .main-description__paragraph {
    font-size: 0.6rem;
  }
}
.main-description .button {
  width: 439px;
  height: 270px;
  background-size: cover;
  display: inline-block;
  border: none;
  outline: none;
  background-color: inherit;
  transition-duration: 0.5s;
  background-image: url("../img/button.svg");
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1545px) {
  .main-description .button {
    width: 373px;
    height: 230px;
  }
}
@media screen and (max-width: 1370px) {
  .main-description .button {
    width: 351px;
    height: 216px;
  }
}
@media screen and (max-width: 830px) {
  .main-description .button {
    width: 281px;
    height: 173px;
  }
}
.main-description .button:hover {
  background-image: url("../img/button-hover.svg");
}
.main-image {
  margin-top: 135px;
  position: relative;
  max-width: 960px;
}
@media screen and (max-width: 1370px) {
  .main-image {
    margin-top: 235px;
  }
}
@media screen and (max-width: 1040px) {
  .main-image {
    display: none;
  }
}
.main-image::before {
  content: url("../img/main-star-top.svg");
  position: absolute;
  top: -75px;
  left: 333px;
}
@media screen and (max-width: 1840px) {
  .main-image::before {
    left: 220px;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1535px) {
  .main-image::before {
    display: none;
  }
}
.main-image::after {
  content: url("../img/main-stars-cats.svg");
  position: absolute;
  top: 318px;
  left: 262px;
  display: block;
  max-width: 673px;
}
@media screen and (max-width: 1700px) {
  .main-image::after {
    content: url("../img/main-stars-cats-1090.svg");
  }
}
@media screen and (max-width: 1445px) {
  .main-image::after {
    transform: scale(0.7);
    top: 200px;
    left: 150px;
  }
}
@media screen and (max-width: 1230px) {
  .main-image::after {
    display: none;
  }
}
.main-image__primary {
  max-width: 960px;
  width: 100%;
}
.main .wrapper {
  display: flex;
  gap: 23px;
  padding-bottom: 53px;
}

.description {
  padding: 101px 0 91px;
  background-color: #F2E9E1;
  position: relative;
  z-index: 0;
}
.description::before {
  content: url("../img/description-star-1.svg");
  max-width: 118px;
  position: absolute;
  top: 24px;
  left: 1189px;
}
@media screen and (max-width: 1400px) {
  .description::before {
    display: none;
  }
}
.description::after {
  content: url("../img/description-star-2.svg");
  max-width: 100px;
  position: absolute;
  top: 279px;
  right: 17px;
}
@media screen and (max-width: 880px) {
  .description::after {
    display: none;
  }
}
.description-image {
  width: 42%;
  z-index: 2;
}
@media screen and (max-width: 760px) {
  .description-image {
    display: none;
  }
}
.description-image img {
  width: 100%;
}
.description-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  width: 58%;
}
@media screen and (max-width: 1180px) {
  .description-main {
    gap: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 760px) {
  .description-main {
    width: 100%;
  }
}
.description h2 {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #856F67;
  font-size: 2rem;
}
@media screen and (max-width: 1180px) {
  .description h2 {
    font-size: 1.5rem;
  }
}
.description__paragraph {
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  color: #A7897E;
  margin-top: 25px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1812px) {
  .description__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .description__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1090px) {
  .description__paragraph {
    font-size: 15px;
  }
}
@media screen and (max-width: 1500px) {
  .description__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
}
.description__text {
  line-height: 120%;
  color: #A7897E;
}
@media screen and (max-width: 1180px) {
  .description__text {
    font-size: 20px;
  }
}
.description__list-title {
  line-height: 120%;
  color: #A7897E;
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (max-width: 1180px) {
  .description__list-title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 760px) {
  .description__list-title {
    font-size: 20px;
  }
}
.description__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1180px) {
  .description__list {
    flex-direction: column;
    gap: 0;
  }
}
.description__list li {
  line-height: 120%;
  font-size: 0.9rem;
  color: #A7897E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 20%;
  text-align: center;
  position: relative;
  max-height: 240px;
  max-width: 300px;
}
@media screen and (max-width: 1720px) {
  .description__list li {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1500px) {
  .description__list li {
    height: 200%;
  }
}
@media screen and (max-width: 1180px) {
  .description__list li {
    flex-direction: row;
    margin-left: 70px;
    text-align: left;
    height: 65px;
    width: 100%;
    line-height: 100%;
  }
}
@media screen and (max-width: 440px) {
  .description__list li {
    max-width: 230px;
  }
}
.description__list li:not(:last-child) {
  border-right: 1px dashed #A7897E;
  padding-right: 15px;
}
@media screen and (max-width: 1180px) {
  .description__list li:not(:last-child) {
    border-right: none;
    border-bottom: 1px dashed #A7897E;
    padding-right: 0;
  }
}
.description__list li::before {
  content: "";
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1500px) {
  .description__list li::before {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 1180px) {
  .description__list li::before {
    transform: scale(0.5);
    position: absolute;
    left: -100px;
    top: -15px;
  }
}
.description__list li:first-of-type::before {
  content: "";
  background-image: url("../img/wax.png");
}
.description__list li:nth-of-type(2)::before {
  content: "";
  background-image: url("../img/perfume.png");
}
.description__list li:nth-of-type(3)::before {
  content: "";
  background-image: url("../img/wood.png");
}
.description__list li:nth-of-type(4)::before {
  content: "";
  background-image: url("../img/match-box.png");
}
.description__list li:last-of-type::before {
  content: "";
  background-image: url("../img/gift-wrapping.png");
}
.description__paragraph--bottom {
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  color: #F2E9E1;
  background-color: #A7897E;
  margin: 0;
  width: 74%;
  height: 32%;
  padding: 123px 191px 123px 425px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1812px) {
  .description__paragraph--bottom {
    font-size: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .description__paragraph--bottom {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1090px) {
  .description__paragraph--bottom {
    font-size: 15px;
  }
}
@media screen and (max-width: 1760px) {
  .description__paragraph--bottom {
    height: 20%;
    padding: 35px 91px 23px 325px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1180px) {
  .description__paragraph--bottom {
    height: 13%;
    font-size: 0.7rem;
    padding: 23px 20px 10px 30px;
    font-weight: 400;
  }
}
@media screen and (max-width: 760px) {
  .description__paragraph--bottom {
    font-size: 0.55rem;
    padding-top: 10px;
  }
}
.description .wrapper {
  display: flex;
  gap: 44px;
}
@media screen and (max-width: 1680px) {
  .description .wrapper {
    padding: 0 80px;
    gap: 25px;
  }
}
@media screen and (max-width: 1230px) {
  .description .wrapper {
    padding: 0 50px;
  }
}
@media screen and (max-width: 760px) {
  .description .wrapper {
    display: block;
  }
}

.sets {
  padding-top: 179px;
  background: linear-gradient(#FFF 16.5%, #A7897E 16.5%, #A7897E 83.5%, #FFF 83.5%, #FFF 100%);
  background-size: 100% 1080px;
}
@media screen and (max-width: 1230px) {
  .sets {
    background: linear-gradient(#FFF 7%, #A7897E 7%, #A7897E 93%, #FFF 93%, #FFF 100%);
    padding-top: 90px;
    background-size: 100% 909px;
  }
}
.sets-main {
  text-align: left;
  width: 65%;
}
@media screen and (max-width: 1230px) {
  .sets-main {
    display: flex;
    gap: 20px 45px;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  .sets-main {
    flex-direction: column;
  }
}
.sets-main h3 {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #F2E9E1;
  font-size: 1.6rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 1620px) {
  .sets-main h3 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1230px) {
  .sets-main h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.sets-main__paragraph {
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  color: #EBE2DB;
  color: #EBE2DB;
}
@media screen and (max-width: 1812px) {
  .sets-main__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .sets-main__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1090px) {
  .sets-main__paragraph {
    font-size: 15px;
  }
}
@media screen and (max-width: 1620px) {
  .sets-main__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 1230px) {
  .sets-main__paragraph {
    font-size: 20px;
    width: 50%;
    padding-right: 60px;
  }
}
@media screen and (max-width: 775px) {
  .sets-main__paragraph {
    width: 100%;
    padding: 0;
  }
}
.sets-main__text {
  color: #EBE2DB;
  margin-top: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1230px) {
  .sets-main__text {
    font-size: 0.7rem;
    width: 45%;
  }
}
@media screen and (max-width: 877px) {
  .sets-main__text {
    width: 100%;
    padding: 0;
  }
}
.sets-main .button {
  width: 439px;
  height: 270px;
  background-size: cover;
  display: inline-block;
  border: none;
  outline: none;
  background-color: inherit;
  transition-duration: 0.5s;
  background-image: url("../img/button-sets.svg");
}
@media screen and (max-width: 1545px) {
  .sets-main .button {
    width: 373px;
    height: 230px;
  }
}
@media screen and (max-width: 1370px) {
  .sets-main .button {
    width: 351px;
    height: 216px;
  }
}
@media screen and (max-width: 830px) {
  .sets-main .button {
    width: 281px;
    height: 173px;
  }
}
.sets-main .button:hover {
  background-image: url("../img/button-sets-hover.svg");
}
@media screen and (max-width: 877px) {
  .sets-main .button {
    max-width: 100%;
  }
}
.sets-image {
  width: 35%;
  max-width: 680px;
  position: relative;
  top: -85px;
}
@media screen and (max-width: 1818px) {
  .sets-image {
    transform: scale(0.7);
    left: -80px;
  }
}
@media screen and (max-width: 1230px) {
  .sets-image {
    display: none;
  }
}
.sets .wrapper {
  display: flex;
  gap: 59px;
  justify-content: space-between;
  padding: 36px 80px;
}
@media screen and (max-width: 1230px) {
  .sets .wrapper {
    flex-direction: column;
    gap: 0;
    padding: 36px 50px;
  }
}

.kashpo {
  background-color: #F2E9E1;
  padding-top: 68px;
  padding-bottom: 87px;
  position: relative;
}
@media screen and (max-width: 1765px) {
  .kashpo {
    padding: 50px;
  }
}
.kashpo:before {
  content: url("../img/complement-cat.svg");
  position: absolute;
  max-width: 519px;
  top: -212px;
  left: 155px;
  z-index: 8;
}
@media screen and (max-width: 1545px) {
  .kashpo:before {
    transform: scale(0.65);
    left: -60px;
    top: -80px;
  }
}
@media screen and (max-width: 1111px) {
  .kashpo:before {
    display: none;
  }
}
.kashpo-gallery {
  display: flex;
  gap: 25px;
  width: 50%;
  z-index: 2;
}
@media screen and (max-width: 1111px) {
  .kashpo-gallery {
    flex-direction: column;
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .kashpo-gallery {
    display: none;
  }
}
.kashpo-gallery__first-container {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 1765px) {
  .kashpo-gallery__first-container {
    display: block;
  }
}
.kashpo-gallery img {
  width: 100%;
}
.kashpo-gallery__second-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1111px) {
  .kashpo-gallery__second-container {
    gap: 25px;
  }
}
.kashpo-card {
  text-align: left;
  width: 50%;
}
@media screen and (max-width: 1111px) {
  .kashpo-card {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .kashpo-card {
    width: 100%;
  }
}
.kashpo-card h3 {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #856F67;
  font-size: 2rem;
}
.kashpo-card__paragraph {
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  color: #A7897E;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1812px) {
  .kashpo-card__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .kashpo-card__paragraph {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1090px) {
  .kashpo-card__paragraph {
    font-size: 15px;
  }
}
@media screen and (max-width: 705px) {
  .kashpo-card__paragraph {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
.kashpo-card__list {
  line-height: 120%;
  color: #A7897E;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1560px) {
  .kashpo-card__list {
    width: 100%;
  }
}
@media screen and (max-width: 1111px) {
  .kashpo-card__list {
    gap: 10px;
  }
}
.kashpo-card__list li {
  position: relative;
  list-style-type: none;
  box-sizing: content-box;
  padding: 10px 0;
  background-repeat: no-repeat;
  transition-property: all;
  transition-duration: 0.5s;
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px dotted #AB8F84;
}
@media screen and (max-width: 1150px) {
  .kashpo-card__list li {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 455px) {
  .kashpo-card__list li {
    font-size: 15px;
    gap: 0;
  }
}
.kashpo-card__list li span {
  display: block;
  width: 120px;
  height: 71px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: -20px;
  justify-content: flex-start;
}
@media screen and (max-width: 1150px) {
  .kashpo-card__list li span {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 455px) {
  .kashpo-card__list li span {
    transform: scale(0.5);
  }
}
.kashpo-card__list li:first-child span {
  background-image: url("../img/marker-1.svg");
}
.kashpo-card__list li:first-child span:hover {
  background-image: url("../img/marker-1-hover.svg");
}
.kashpo-card__list li:nth-child(2) span {
  background-image: url("../img/marker-2.svg");
}
.kashpo-card__list li:nth-child(2) span:hover {
  background-image: url("../img/marker-2-hover.svg");
}
.kashpo-card__list li:nth-child(3) span {
  background-image: url("../img/marker-3.svg");
}
.kashpo-card__list li:nth-child(3) span:hover {
  background-image: url("../img/marker-3-hover.svg");
}
.kashpo-card__list li:nth-child(4) span {
  background-image: url("../img/marker-4.svg");
}
.kashpo-card__list li:nth-child(4) span:hover {
  background-image: url("../img/marker-4-hover.svg");
}
.kashpo-card__list li:nth-child(even) {
  justify-content: flex-end;
}
@media screen and (max-width: 1560px) {
  .kashpo-card__list li:nth-child(even) {
    justify-content: flex-start;
  }
}
.kashpo-card__text {
  line-height: 120%;
  color: #A7897E;
  margin-top: 20px;
}
@media screen and (max-width: 1680px) {
  .kashpo-card__text {
    font-size: 0.88rem;
  }
}
@media screen and (max-width: 1280px) {
  .kashpo-card__text {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 705px) {
  .kashpo-card__text {
    font-size: 0.5rem;
  }
}
.kashpo-card__text:not(:last-child) {
  margin-bottom: 35px;
}
@media screen and (max-width: 705px) {
  .kashpo-card__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.kashpo-card .wrapper {
  display: flex;
  gap: 89px;
}
@media screen and (max-width: 1560px) {
  .kashpo-card .wrapper {
    gap: 60px;
  }
}

.candles {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #F2E9E1 74%, #A7897E 26%);
  background-size: auto 85%;
  text-align: left;
  padding-top: 81px;
}
.candles .wrapper {
  display: flex;
  flex-direction: column;
}
.candles .wrapper .candles-container {
  display: flex;
  gap: 194px;
  justify-content: flex-end;
  margin-bottom: 65px;
}
.candles .wrapper .candles-container .candles__title {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #947A71;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 50px;
}
.candles .wrapper .candles-container .candles__text {
  color: #A7897E;
  max-width: 625px;
}
.candles .wrapper .candles-container .button {
  width: 439px;
  height: 270px;
  background-size: cover;
  display: inline-block;
  border: none;
  outline: none;
  background-color: inherit;
  transition-duration: 0.5s;
  background-image: url("../img/button.svg");
}
@media screen and (max-width: 1545px) {
  .candles .wrapper .candles-container .button {
    width: 373px;
    height: 230px;
  }
}
@media screen and (max-width: 1370px) {
  .candles .wrapper .candles-container .button {
    width: 351px;
    height: 216px;
  }
}
@media screen and (max-width: 830px) {
  .candles .wrapper .candles-container .button {
    width: 281px;
    height: 173px;
  }
}
.candles .wrapper .candles-container .button:hover {
  background-image: url("../img/button-hover.svg");
}
.candles .wrapper .swiper .container {
  max-width: 1660px;
}
.candles .wrapper .swiper .container .slide-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 31px;
  position: relative;
  padding-bottom: 90px;
}
.candles .wrapper .swiper .container .slide-inner__card {
  color: #F2E9E1;
}
.candles .wrapper .swiper .container .slide-inner__title {
  font-weight: 400;
  line-height: 120%;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  color: #F2E9E1;
  font-size: 1.65rem;
  margin-bottom: 25px;
  max-width: 286;
}
.candles .wrapper .swiper .container .slide-inner__gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.candles .wrapper .swiper .container .slide-inner__gallery:nth-of-type(odd) {
  position: relative;
  top: 50px;
}
.candles .wrapper .swiper .container .slide-inner__name {
  color: #A7897E;
  font-size: 20px;
  text-align: center;
}
.candles .wrapper .swiper .swiper-pagination {
  color: #A7897E;
}
.candles .wrapper .swiper .swiper-button-prev:after,
.candles .wrapper .swiper .swiper-button-next:after {
  content: none;
}
.candles .wrapper .swiper .container-arrow {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 166px;
  max-width: 1660px;
  left: 0;
  padding: 46px 130px 40px;
  background-color: #F2E9E1;
}/*# sourceMappingURL=style.css.map */